<footer>
  <hr class="mt-0 mb-7"/>

  <div class="container pb-7">
    <div class="row gx-lg-0 gy-6">
      <div class="col-lg-4">
        <p class="mb-2 mb-lg-0">© 2023 {{ siteData.companyName }}. All rights reserved.</p>
      </div>
      <!-- /column -->

        {#
      <div class="col-lg-3 offset-lg-2">
        <div class="widget">
          <div class="d-flex flex-row">
            <div>
              <div class="icon text-primary fs-28 me-4 mt-n1"><i class="uil uil-phone-volume"></i></div>
            </div>
            <div>
              <h5 class="mb-1">Phone</h5>
              <p class="mb-0">{{ siteData.companyPhone }}</p>
            </div>
          </div>
          <!--/div -->
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->

      <div class="col-lg-3">
        <div class="widget">
          <div class="d-flex flex-row">
            <div>
              <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-location-pin-alt"></i> </div>
            </div>
            <div class="align-self-start justify-content-start">
              <h5 class="mb-1">Address</h5>
              <address>{{ siteData.companyAddress }}</address>
            </div>
          </div>
          <!--/div -->
        </div>
        <!-- /.widget -->
      </div>
        #}

      <!-- /column -->
    </div>
    <!--/.row -->

  </div>
  <!-- /.container -->
</footer>
