<footer>
  <hr class="mt-0 mb-7"/>

  <div class="container pb-7">
    <div class="row gx-lg-0 gy-6">
      <div class="col-lg-4">
        <p class="mb-2 mb-lg-0">© 2023 {{ siteData.companyName }}. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>