<nav class="navbar navbar-expand-lg classic transparent navbar-light">
  <div class="container flex-lg-row flex-nowrap align-items-center">
    <div class="navbar-brand w-100">
      <a href="/" aria-label="Home">
        <img src="/assets/img/logo-dark.svg" alt="{{ siteData.companyName }}"/>
      </a>
    </div>

    <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
      <div class="offcanvas-header d-lg-none">
{#        <a href="/"><img src="./assets/img/logo-light.png" srcset="./assets/img/logo-light@2x.png 2x" alt=""/></a>#}
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body ms-lg-auto d-flex flex-column h-100">
        <ul class="navbar-nav">
        {#
          <li class="nav-item"><a class="nav-link" href="/borrowers">For Borrowers</a></li>
          <li class="nav-item"><a class="nav-link" href="/lenders">For Lenders</a></li>
        </ul> #}
          <li class="nav-item"><a class="nav-link" href="/contacts">Contacts</a></li>

        <!-- /.navbar-nav -->
        <div class="d-lg-none mt-auto pt-6 pb-6 order-4">
          {#          <a href="mailto:first.last@email.com" class="link-inverse">info@email.com</a> #}
          {#          <br /> {{ siteData.companyPhone }} <br /> #}
          {#          <nav class="nav social social-white mt-4">
            <a href="#"><i class="uil uil-twitter"></i></a>
            <a href="#"><i class="uil uil-facebook-f"></i></a>
            <a href="#"><i class="uil uil-dribbble"></i></a>
            <a href="#"><i class="uil uil-instagram"></i></a>
            <a href="#"><i class="uil uil-youtube"></i></a>
          </nav> #}
          <!-- /.social -->
        </div>
        <!-- /offcanvas-nav-other -->
      </div>
      <!-- /.offcanvas-body -->
    </div>
    <!-- /.navbar-collapse -->
    <div class="navbar-other ms-lg-4">
      <ul class="navbar-nav flex-row align-items-center ms-auto">
        {#    <li class="nav-item d-none d-md-block fs-25">
          <div class="badge bg-light text-dark">
            {{ siteData.companyPhone }}
          </div>
        </li> #}

{#        <li class="nav-item d-lg-none">#}
{#          <button class="hamburger offcanvas-nav-btn"><span></span></button>#}
{#        </li>#}
      </ul>
      <!-- /.navbar-nav -->
    </div>
    <!-- /.navbar-other -->
  </div>
  <!-- /.container -->
</nav>
<!-- /.navbar -->

